body{
  background: rgb(232,232,240);
  background: linear-gradient(90deg, rgba(232,232,240,1) 0%, rgba(237,237,240,1) 40%, rgba(213,224,227,1) 100%);
}
main{
  font-size:25px;
   display:block;
   width:55%;
  margin:auto;
}
h1{
  font-size:35px;
}
#title{
  font-size:40px;
  text-align:center;
  margin-bottom:50px; 
}
#title-desc{
  font-size:20px;  
}
#image{
 max-width:100%;
  display:block;
}
#img-caption{
  font-size:16px;
}
#Letter-to-Hardy p{
  float:left;
}
#img2-div{
  float:right;
}
#img3-div{
  float:left;
}
#image3{
  width:90%;
  float:left;
}
#img4-div{
  text-align:center;
}
#image4{
  max-width: 100%;
}
#quote p{
  padding-left:50px;
  border-left:1px groove;
  font-family:Garamond;
}
footer{
  margin-top:75px;
  font-size:20px;
  font-weight:bold;
}
@media only screen and (max-width:720px){
  main{
    width:90%;
  }
}